<div>
	<video id="video1" width="720" height="404" preload="metadata">

		<source src="video/starry-night.mp4" type="video/mp4">
		<source src="video/starry-night.ogv" type="video/ogv">
		<source src="video/starry-night.webm" type="video/webm">
		<p>Your browser does not support HTML5 video.</p>

	</video>

	<div class="progress">
		<div class="duration"></div>
	</div>

	<div class="controls">
		
		<a id="play"><i data-icon="play"></i></a>
		<!--<a id="stop"><i data-icon="stop"></i></a>-->
		<!--<a id="replay"><i data-icon="replay"></i></a>-->
		<a id="mute"><i data-icon="mute"></i></a>
		<!--<input type="range" id="volume" min="0" max="1" step="0.1" value="1">-->
		<!--<a id="expand"><i data-icon="expand" ></i></a>
		<a id="shrink"><i data-icon="shrink"></i></a>
		<a id="default"><i data-icon="default"></i></a>-->
		<div class="time">
			<span id="timeDisplay"></span> / <span id="duration"></span>
		</div>

	</div>
</div>